<template>
  <div v-if="loaded" class="information">
    <h1>Información de su cuenta</h1>
    <h2>Nombre: <span>{{name}}</span></h2>
    <h2>Edad: <span>{{age}} </span></h2>
    <h2>Correo electrónico: <span>{{email}}</span></h2>
    <button class="update" v-on:click="runUpdate"> Actualizar</button>
    <button v-on:click="runDelete"> Borrar registro </button>
  </div>
</template>
<script>

import jwt_decode from "jwt-decode";
import axios from 'axios';

export default {
  name: "Account",
  data: function(){
    return {
      user_id:"",
      name: "",
      email: "",
      Age: "",
      loaded: false,
  }
  },

  methods: {
    getData: async function () {
      if (localStorage.getItem("token_access") === null || localStorage.getItem("token_refresh") === null) {
        this.$emit('logOut');
        return;
      }

      await this.verifyToken();
      let token = localStorage.getItem("token_access");
      let userId = jwt_decode(token).user_id.toString();
      axios.get(`https://be-p27-g2.herokuapp.com/user/${userId}/`, {headers: {'Authorization': `Bearer ${token}`}})
        .then((result) => {
          this.user_id = result.data.user_id;
          this.name = result.data.name;
          this.email = result.data.email;
          this.age = result.data.age;
          this.loaded = true;
        })
        .catch(() => {
          this.$emit('logOut');
        });
    },
    verifyToken: function () {
      return axios.post("https://be-p27-g2.herokuapp.com/refresh/", {refresh: localStorage.getItem("token_refresh")}, {headers: {}})
      .then((result) => {
        localStorage.setItem("token_access", result.data.access);
      })
      .catch(() => {
        this.$emit('logOut');
      });
    },


// Intento de eliminación    
    runDelete:function(){
      let token = localStorage.getItem("token_access");

      axios.delete(`https://be-p27-g2.herokuapp.com/delete/`, {headers: {'Authorization': `Bearer ${token}`}}
      )
      .then (() =>
          this.$emit('logOut')
      )
      .catch((error)=>{
        console.log(error)
        alert("Error: Fallo en la eliminación");
      });
    },

    runUpdate:function(){
      this.$router.push({name: "update"})
    }
  },
  created: async function(){
    this.getData();
  },
  
}
</script>

<style>
  .information{
    margin: 0;
    padding: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .information h1{
    font-size: 60px;
    color: #0f1316;
  }
  .information h2{
    font-size: 40px;
    color: #283747;
  }
  .information span{
    color: crimson;
    font-weight: bold;
  }
  .information button{
    color: white;
    font-size: 15px;
    background-color: red;
    width: 120px;
    height: 40px;
  }
  .information .update{
    color: white;
    font-size: 15px;
    background-color: rgb(0, 61, 192);
    width: 120px;
    height: 40px;
  }
  .information button:hover{
    color: #0f1316;
    background-color: white;
  }
</style>