<template>
<div class="greetings">
  <h1>¡Bienvenido <span> {{username}} </span>!</h1>
  <br>
  <a href="http://127.0.0.1:5500/">Iniciar Juego </a>
  <br>
  <img src="https://image.freepik.com/free-vector/online-games-illustration_23-2148540057.jpg" alt="">
  <a2 href='https://www.freepik.com/vectors/technology'>Technology vector created by freepik - www.freepik.com</a2>
</div>
</template>

<script>
  export default {
    name: "Home",
    data: function(){
      return {
        username: localStorage.getItem('username') || "none"
      }
    },
  components: {
  },
  }
</script>

<style>
  .greetings{
    margin: 0;
    padding: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .greetings h1{
    font-size: 45px;
    color: #283747;
  }
  .greetings span{
    color: crimson;
    font-weight: bold;
  }

  .greetings a{
    width: 20%;
    height: 30px;
    text-align: center;
    font-size: 25px;
    color: #E5E7E9;
    background: #283747;
    border: 1px solid #E5E7E9;
    
    border-radius: 5px;
    padding: 10px 25px;
    margin: 5px 0;
  }
    .greetings a:hover{
    color: #E5E7E9;
    background: crimson;
    border: 1px solid #283747;
  }
  .greetings img{
    height: 50%;
    width: 50%px;
  }
</style>
